<title>Search</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
        #main_elements {
            position: fixed;
        }
        #inputer {
            text-align: center;
            font-size: 30px;
            height: 50px;
			width: 500px;
            border-radius: 50px;
        }
        #button {
            font-size: 30px;
            background-color: #ffffff10;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            border-radius: 50px;
        }
    </style>
</head>
<body>
    <div id="main_elements" align="center">
        <input id="inputer" type="text" title="smth">
        <button id="button"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></button>
        <hr width="1000%">
    </div>
</body>
</html>